@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?xruukj');
    src:  url('../fonts/icomoon.eot?xruukj#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?xruukj') format('truetype'),
      url('../fonts/icomoon.woff?xruukj') format('woff'),
      url('../fonts/icomoon.svg?xruukj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-cloud-download:before {
    content: "\e9c2";
  }
  .icon-share:before {
    content: "\ea7d";
  }
  

body{
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
}

a {
    margin: 0;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 3fr 2fr;
    grid-template-rows: auto 150px 1fr;
    grid-template-areas: "playlist video video"
                         "playlist description description"
                         "playlist comments suggestions";
}

.item {
}

.video {
    grid-area: video;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    
}

.video_youtube {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.playlist {
    grid-area: playlist;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    background: #181a2f;
    color: #e8eaf6;
    font-size: 16px;
}

.logo img {
    width: 60%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.playlist_songs h4 {
    margin: 0;
    margin-bottom: 5%;
    font-size: .95em;
}

.playlist_songs_items {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin: 0;
    margin-bottom: 2.5%;
    font-size: 0.85em;
    font-weight: 300;
}

.playlist_songs_items span {

}

.playlist_songs_items a {
    color: #e8eaf6;
    text-decoration: none;
}

.playlist_songs_items a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.playlist_number {
    display: inline-block;
    width: 7%;
}


.friends_img_min {
    overflow: hidden;
}

.friend_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    cursor: pointer;
}


.playlist_friends h4 {
    margin: 0;
    margin-bottom: 5%;
    margin-top: 8%;
    font-size: .95em;
}

.playlist_friends p {
    margin: 0;
}

.playlist_friends_item {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 4%;
    font-size: 0.95em;
    
}

.playlist_friends_item a {
    width: 100%;
    color: #e8eaf6;
    text-decoration: none;
}

.playlist_friends_item a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.friends_img_min {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100px;
} 

.playlist_friends_item span {
margin-left: 3%;
cursor: pointer;
}

.description {
    grid-area: description;
    font-size: 16px;
    padding-right: 15%;
    padding-left: 1%;
    display: grid;
    border-bottom: 2px solid #b7b7b7;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "title title title title title title title  title title title"
    "views views views views views views views views views views "
    "but but but but but but but but but but ";
}

.description_title {
    grid-area: title;
    align-self: self-end;
}

.description h5 {
    margin: 0;
    margin-top: 2%;
    font-size: 1.3em;
    color: #595959;
}

.description_views {
    grid-area: views;
    font-size: 0.95em;
}

.description p {
    margin: 0;
    color: #9a9c9b;
    font-size: 1.1em;
}

.descriptions_buttons {
    grid-area: but;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    justify-items: center;
    padding-bottom: 1%;
    grid-template-areas: 
    "add add share save . electronic rock a80 rela .";
}


.description_buttons button {
    display: inline-block;
}

.addmylist_button{
    grid-area: add;
    font-size: 1em;
    font-family: Roboto, Arial, sans-serif;
    justify-self: baseline;
    color: white;
    border-radius: 10px;
    border-width: 0;
    padding: 0;
    padding: 3% 6%;
    background: 
    linear-gradient(90deg, rgba(254,13,19,1) 0%, rgba(255,95,150,1) 70%);
    transition: all 0.2s linear;
    cursor: pointer;
    position: relative;
}

.addmylist_button::after {
    content: 'Add my List';
    top: 190%;
    bottom: 0;
    right: 0;
    left: 7%;
    width: 0px;
    height: 30px;
    color: transparent;
    background: #707070;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .75em;
    border-radius: 2.5px;
    
}

.addmylist_button:hover::after {
    width: 90px;
    color: white;
}

.addmylist_button:focus,
.electronic:focus,
.rock:focus,
.a80:focus,
.rela:focus {
    outline: none;
}



.share_button {
    display: inline-block;
    grid-area: share;
    text-align: center;
    color: #414b57;
    position: relative;
}

.share_button::after {
    content: 'Share';
    top: 167%;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0px;
    height: 30px;
    color: transparent;
    background: #707070;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .75em;
    border-radius: 2.5px;
    
}

.share_button:hover::after {
    width: 65px;
    color: white;
}

.share_button p {
    color: #414b57;
    font-size: .7em;
}



.icon-share,
.icon-cloud-download {
    font-size: 1.2em;
}

.save_button {
    display: inline-block;
    grid-area: save;
    text-align: center;
    color: #414b57;
    position: relative;
}

.save_button::after {
    content: 'Save';
    top: 167%;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0px;
    height: 30px;
    color: transparent;
    background: #707070;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .75em;
    border-radius: 2.5px;
    
}

.save_button:hover::after {
    width: 65px;
    color: white;
}

.none {
    grid-area: none;
}

.save_button p {
    color: #414b57;
    font-size: .7em;
}

.electronic {
    grid-area: electronic;
    font-size: .85em;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 50px;
    border-width: 0;
    width: 90%;
    padding: 3% 0;
    background-color: #9a55fe;
    color: white;
    cursor: pointer;
    position: relative;
}

.electronic::after {
    content: 'Disney';
    top: 245%;
    bottom: 0;
    right: 0;
    left: 8%;
    width: 0px;
    height: 30px;
    color: transparent;
    background: #707070;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .85em;
    border-radius: 2.5px;
    
}

.electronic:hover::after {
    width: 65px;
    color: white;
}

.rock {
    grid-area: rock;
    font-size: .85em;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 50px;
    border-width: 0;
    width: 90%;
    padding: 3% 0;
    background-color: #1addbd;
    color: white;
    cursor: pointer;
    position: relative;
}

.rock::after {
    content: 'Pixar';
    top: 245%;
    bottom: 0;
    right: 0;
    left: 8%;
    width: 0px;
    height: 30px;
    color: transparent;
    background: #707070;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .85em;
    border-radius: 2.5px;
    
}

.rock:hover::after {
    width: 65px;
    color: white;
}

.a80 {
    grid-area: a80;
    font-size: .85em;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 50px;
    border-width: 0;
    width: 90%;
    padding: 3% 0;
    background-color: #e11822;
    color: white;
    cursor: pointer;
    position: relative;
}     

.a80::after {
    content: 'Marvel';
    top: 245%;
    bottom: 0;
    right: 0;
    left: 8%;
    width: 0px;
    height: 30px;
    color: transparent;
    background: #707070;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .85em;
    border-radius: 2.5px;
    
}

.a80:hover::after {
    width: 65px;
    color: white;
}

.rela {
    grid-area: rela;
    font-size: .85em;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 50px;
    border-width: 0;
    width: 90%;
    padding: 3% 0;
    background-color: #f53185;
    color: white;
    cursor: pointer;
    position: relative;
}

.rela::after {
    content: 'StarWars';
    top: 245%;
    bottom: 0;
    right: 0;
    left: 8%;
    width: 0px;
    height: 30px;
    color: transparent;
    background: #707070;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .85em;
    border-radius: 2.5px;
    
}

.rela:hover::after {
    width: 65px;
    color: white;
}

.comments {
    grid-area: comments;
    padding-left: 4%;
    padding-right: 11%;
    font-size: 16px;
}
.comments p {
    color: #62606d;
}

.container_personal {
    display: flex;
    padding: 2% 2%;
    border-radius: 15px;
    background-color: #f2f2f2;
    
}

.personal_comment {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    overflow: hidden;
}

.container_personal input {

    border: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1em;
    background: #f2f2f2;
    color: #919191;
    width: 100%;
    transition: border 2s ease-in;
}

.container_personal input:focus {  
    outline: none;
}

.personal_comment_text {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-left: 2%;
    align-self: center;
    position: relative;
}

.personal_comment_text::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -2%;
    left:50%;
    transition: all 0.5s ease;
    border-radius: 15px;
}

.personal_comment_text:focus-within::after {
    left: 0%;
    width: 100%;
}

.personal_comment_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    cursor: pointer;
}

.historial_comments {
    display: flex;
    margin-top: 3%;

}

.historial_comments p {
    margin: 0;
    color: #62606d;
    font-weight: 600;
    cursor: pointer;
}

.historial_comments span {
    color: #62606d;
}

.profile_minphoto {
    display: inline-block;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 1.5%;
}

.profile_minphoto_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    cursor: pointer;
}


.suggestions {
    grid-area: suggestions;
    padding-right: 37.3%;
    padding-left: 2%;
}

.suggestions p {
    margin-left: 10%;
    color: #62606d;
}

.suggestion_img {
    width: 100%;
    height: 170px;
}

.suggestion_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description_video {
    font-size: 16px;
}

.description_video p {
    margin-top: 2%;
    margin-left: 0;
    font-size: .9em;
}

.description_video a {
    width: 100%;
    color: #62606d;
    text-decoration: none;
}

.description_video p:hover {
    font-weight: 600;
}

@media screen and (max-width: 863px) {
    
    .playlist {
        display: none;
    }
    
    .suggestions {
        padding-right: 15%;
    }
    
    .container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: auto 150px 1fr;
        grid-template-areas: "video video"
                             "description description"
                             "comments suggestions";
    }
    .addmylist_button::after,
    .share_button::after,
    .save_button::after,
    .electronic::after,
    .rock::after,
    .a80::after,
    .rela::after {
        display: none;
    }
    
    .electronic,
    .rock,
    .a80,
    .rela {
        font-size: .7em;
    }
    
}

@media screen and (max-width: 660px) {
    
    .electronic,
    .rock,
    .a80,
    .rela {
        display: none;
    }
    
    .descriptions_buttons {
        grid-template-columns: 3fr 1fr 1fr 1fr;
        grid-template-areas: 
        "add share save .";
    }
    
}

@media screen and (max-width: 425px) {
    .description {
        padding-right: 0%;
        padding-left: 2%;
    }
    .suggestions {
        display: none;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 150px 1fr;
        grid-template-areas: "video"
                             "description"
                             "comments";
    }
    
    .description_title h5 {
        font-size: 1.15em;
    }
    
    .description_views p {
        font-size: .85em;
        padding-top: 2%;
    }
    
    .comment_data p {
        font-size: .8em;
    }
    
    .comment_data span {
        font-size: .9em;
    }
    
}